
<h1>User info</h1>
 <p><%= @user.title %></p>

<div>

 <%= image_tag @user.user.get_image %>

 <p><%= @user.user.name %></p>

 <p><%= @user.title %></p>

 <p><%= @user.body %></p>

 <p><%= image_tag 'no_image.jpg' %></p>

<%= link_to 'Edit', edit_user_path(@users:id) %>


</div>
